footer{
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
body{
    margin: 10px;
    background-color: white;
    border: 1px solid black;
}
header{
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr;
}
 .container-1{
    border: 1px solid blue;
    margin: 15px;
    display: grid;
    padding: 50px;
    font-size: 20px;
 }
 .container-2{
    border: 1px solid blue;
    margin: 15px;
    display: none;
 }

 .swiched{
    text-align: center;
    font-size: 26px;
 }
 .swiched:hover{
    color: black;
 }
 .swiched .container-2{
    display: grid;
}
.swiched .container-1{
    display: none;
}