*{
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: serif;
}
body{
    margin: 10px;
    background-color: white;
    border: 1px solid darkblue;
    max-width: 100%;
}
ul{
    position: relative;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 70px;
    right: -20px;
    top: 55px;  
}
a{
    text-decoration: none;
    font-size: 20px;
    color: snow;
    
    
}
a:hover{
    color: gray;
}

main img{
    width: 100%;
}h2{text-align: center;
padding-top: 75px;
padding-bottom: 10px;}
header{
    padding: 20px;
    background-color: black;
    color: white;
}
.container img{
    position: relative;
    max-width: 10%;
    border-radius: 50%;
    
}
.container{
    display: flex;
    
    
}h1{
    text-align: center;
}
footer{
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
@media(max-width:650px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        left: -10px;
        justify-content: none;
        gap: 5px;
        
    }
    ul{
        top: 0;
        gap: 5px;
        right: 0;
    }
}