
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    
   
    

}
header{
    max-width: 960px;
    background-color: grey;
    text-align: center;
    margin: 15px;
    padding: 0px;
}
h1{
    position: relative;
    background-color: goldenrod;
    max-width: 960px;
}
nav{
    background-color: grey;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding: 10px;
   
    
    
}
nav a{
    
    text-decoration: none;
}
figure{
    display: grid;
    position: relative;
    float: left;
}
figure img{
    max-width: 100%;
    max-height: 100%;
}
img{
    max-width: 25%;
    max-height: 25%;
    float: right;
}
 ul a{
    position: relative;
    /*right: -6px;*/
    justify-content: center;
       
    
}

main{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 960px;
    


}
h2{
    background-color: gray;
    padding: 20px;
}
.card1{
    position: relative;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px;
    max-width: 1000px;
    background-color: white;
}
.card2{
    position: relative;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px;
    justify-items: end;
    background-color: white;
    justify-content: center;
    
}
footer{
    max-width: 960px;
    background-color: grey;
    padding: 20px;
    justify-content: center;
text-align: center;
margin: 15px;
}