*{
    font-family: monospace;
    margin:0 auto;
    padding: 0;
    max-width: 100%;
    
}

body{
    margin: 20px;
    background-color: white;
    border: 1px solid black;
    max-width: 100%;
    justify-content: center;
    
}
main{
    text-align: center;
}
header{
    text-align: center;
    background-color: black;
    color: yellow;
    
}
h1{
    font-size: 35px;
    padding: 20px;
}
.product{
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
.products{
    margin-top: 10px;
    margin-bottom: 25px;
}
select{
    padding: 5px;
    background-color: rgb(247, 230, 230);

}
.rating{
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    
    
}

.rating input{
    display: none;
}

.rating > label {
    width: 30px;
    height: 30px;
    font-family: arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
}

.rating:hover{
    color: #ff69b4;
    transition: 0.2s ease;
}

.rating label:active::before{
    transform:scale(1.1);
}
.stars{
    margin-bottom: 20px;
    
}

.rating input:checked ~ label::before{
    content: '\2605';
}

.rating label::before{
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
}
label{
    font-size: 16px;
}

.Date{
    font-size: 20px;
    margin-bottom: 25px;
    
}
.daTe{
    padding: 0;
    background-color: darkgray;
    width: 250px;
    
}
.check{
    width: 100px;
}

  textarea{
    padding: 20px;
    background-color: rgb(245, 241, 241);
    width: 250px;
}
.textarea{
    margin-bottom: 15px;
}
.username{
    margin-bottom: 15px;
}
.user{
    width: 250px;
    background-color: rgb(234, 233, 220);
    
}
.submission{
    margin-bottom: 15px;
}
.Poste{
    padding: 12px;
    background-color: aquamarine;
}
footer{
    background-color: black;
    padding: 20px;
    text-align: center;
    color: yellow;
   
}
@media (max-width:670px){

    .rating {
        width: 100%;
        left: -15px;
    }
    select{
        width: 90%;
        margin: 20px;
    }
    .daTe{
        width: 90%;
    }
    textarea{
        width: 80%;
    }
    .user{
        width: 90%;
    }
}